nav{
  height:.9rem;
  background-color: $blackLighter;
  .logo{
    height:100%;
    padding-top:.24rem;
    img{
      width:1.93rem;
      height:.42rem;
      display: block;
      margin:0 auto;
    }
  }
}